name: Build Docker Image - Manual

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Docker image tag ("-unstable" postfix wil be add to every tag)'
        required: true

jobs:
  build:
    name: Build and push docker image
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Quay.io
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ secrets.OCP_EDGE_QE_QUAY_USER }}
        password: ${{ secrets.OCP_EDGE_QE_QUAY }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        platforms: linux/amd64,linux/arm64
        tags: quay.io/ocp-edge-qe/eco-gotests:${{ github.event.inputs.tag }}-unstable
