name: Build Docker Image - CI

on:
  release:
    types:
      - published
  push:
    branches:
      - main
      - 'release-\d.\d\d'

jobs:
  build:
    name: Build and push docker image
    if: github.repository_owner == 'rh-ecosystem-edge'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Login to Quay.io
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ secrets.OCP_EDGE_QE_QUAY_USER }}
        password: ${{ secrets.OCP_EDGE_QE_QUAY }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Set image tag
      shell: bash
      run: |
        image_tag=latest
        if [ ${{ github.ref }} != 'refs/heads/main' ]; then
          branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}
          version_digits=$(echo ${branch} | tr -d -c 0-9)
          image_tag=v$(echo ${version_digits} | cut -b 1).$(echo ${version_digits:1}).0
        fi
        echo "IMAGE_TAG=${image_tag}" >> $GITHUB_OUTPUT
      id: set_image_tag

    - name: Build and push eco-gotests
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        platforms: linux/amd64,linux/arm64
        tags: quay.io/ocp-edge-qe/eco-gotests:${{ steps.set_image_tag.outputs.IMAGE_TAG }}

    - name: Build and push eco-gotests-ran-du
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./images/system-tests/ran-du/Dockerfile
        push: true
        platforms: linux/amd64,linux/arm64
        tags: quay.io/ocp-edge-qe/eco-gotests-ran-du:${{ steps.set_image_tag.outputs.IMAGE_TAG }}
